ENV_WIFI_SSID_DEPLOY="Test"
ENV_WIFI_PW_DEPLOY="Test"
ENV_OTA_URL="http://sample.de/otafile.json"
ENV_OTA_URL_DEV="http://sample.de/otafile_dev.json"
ENV_AWS_IOT_ENDPOINT="aws.iot.url.de"
ENV_DOWNLOAD_URL="http://s3-bucket.de"